<html>
<head>
    <title>There There</title>
</head>
<body>
    <form action="{{ path('route') }}">
        Start
        <input name="start" type="text" />
        End
        <input name="end" type="text" />
        <input type="submit">
    </form>
</body>